

.zoom_animation{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    transition: all 0.2s ease;
}
.atom_background:nth-child(1){--nth-child: 1;}
.atom_background:nth-child(2){--nth-child: 2;}
.atom_background:nth-child(3){--nth-child: 3;}
.atom_background:nth-child(4){--nth-child: 4;}
.atom_background:nth-child(5){--nth-child: 0;}
.atom_background:nth-child(6){--nth-child: 5;}

.atom_background{
    position: absolute;
    width:100%;
    margin-left: -50px;
    margin-top: -80px;

    /* border: solid 2px rgb(255, calc(50* var(--nth-child)), calc(50* var(--nth-child))); */
}
.formula_1{
    width: 600px;
    top:200px;
    left:200px;
}
.formula_2{
    width: 350px;
    top:300px;
    right:200px;
}
.formula_3{
    width: 600px;
    bottom:300px;
    right:-50px;
}
.formula_4{
    width: 450px;
    bottom:100px;
    left:200px;
}
.formula_5{
    width: 200px;
    bottom:400px;
    left:200px;
}


@media (max-width: 1150px) {
    .zoom_animation{
        /* border: solid 5px blue; */
    }
    .formula_ring{
        display: none !important;
    }
}


/* test */
.anim_bloc{
    opacity:0.1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
}
.right{
    height:50%;
    top:0;
    left:0;
}
.left{
    height:50%;
    bottom:0;
    right:0;
    background:blue;
}
