:root {
    --color-background: rgb(255, 255, 255);
    --color-background-dark: rgb(22, 28, 42);
    --color-text: rgb(22, 28, 42);
    --color-text-light: white;

    --color-primary: rgb(71, 172, 255);
    --color-primary-op: white;
    /*primary contrast*/
    --color-secondary: rgb(57, 177, 89);
    --color-secondary-op: white;
    --color-tertiary: rgb(255, 148, 26);
    --color-tertiary-op: white;

    --btn-height: 40px;
    --btn-max-width: 250px;

    --font-size: 20px;
    --font-family: verdana, georgia, 'Courier New' ;
    --line-height: 1.5;

    --size-mosaic: 300px;
}


body {
    margin: 0;
    font: var(--font-size) var(--font-family);
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

p {
    margin: 0;
}

input[type="text"] {
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid darkgrey;
    margin: 0;
    display: inline-block;
}

input[type="submit"] {
    border: none;
}


main{
    padding-top: calc(50vh - 50px);
    width: 90%;
    max-width: 800px;
    margin: auto;
}
section{
    position: relative;
}

.fixed_down{
    position: sticky;
    top: 45vh;

}




/**********  CLASSES  **********/



.content_full {
    height: 100vh;
    position: relative;
}

.desk {
    display: block;
}

.mobile {
    display: none;
}

.container_scrollx {
    display: flex;
    column-gap: 50px;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
}
.container_flex{
    margin:auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

}


.mosaic_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    margin: auto;
}
.mosaic_container img{
    /* border: white 2px solid; */
    width: auto;
    height:auto;
    object-fit: cover;
}
@media all and (min-width: 800px){
/* place self: align(vert) justify(horz)
    start | end | center | stretch | baseline
*/
.mosaic_container img:nth-child(1){
    height: var(--size-mosaic);
    place-self: end end;
    aspect-ratio: 4/3;
}
.mosaic_container img:nth-child(2) {
    width: var(--size-mosaic);
    place-self: end start;
    aspect-ratio: 3/4;
}
.mosaic_container img:nth-child(3) {
    width: var(--size-mosaic);
    height: var(--size-mosaic);
    place-self: start end ;
    aspect-ratio: 1;
}
.mosaic_container img:nth-child(4) {
    height: var(--size-mosaic);
    place-self: start start;
    aspect-ratio: 4/3;
}
}

a.fa {
    padding: 13px 0px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;

    color: white;
    background: ;
}

.fa:hover {
    opacity: 0.6;
}

/**********  MEDIA QUERIES  **********/
@media screen and (max-width: 800px) {
    :root {
        --font-size: 16px;
        
    }
    .desk{
        display: none;
    }
    .mobile{
        display: block;
    }

    .mosaic_container{
        grid-template-columns: 1fr;
        width: var(--size-mosaic);
    }
}